body{
    width: 100%;
    background: #fff;
 }
  
 #caixa{
    width: 90%;
    background: #fff;
    margin: 40px auto;
    padding: 20px;
    border: none;
    border-radius: 40px 30px;
    box-shadow: 2px 2px 15px #000;
}

.form-control{
  border-color: #000;
  border-radius: 10px;
}
  
.btn{
    text-align: center;
    margin: 10px auto;
    border-radius: 15px;
}

#edita-texto .form-control, #selecao-fontes .form-control{
    width: 200px;
    margin: 10px auto;
    border-radius: 15px;
}

.tamanho-fonte{
    width: 35%;
    display: inline-flex;
    margin: 0 auto;
    line-height: 42px;
    font-size: 1.2em;
    font-weight: bold;
}
